<html>
    <head>
        <title>404 - Page Not Found</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='error/404.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>
        </section>
        <div class="link-container">
        <a href="/" class="more-link">HOME</a>
        <!-- Thank to https://www.silocreativo.com/en/creative-examples-404-error-css/ -->
        </div>
    </body>
</html>